@keyframes height {
    0% {
        opacity: 0;
        height: 10px;
        border-radius: 50%;
    } 
    25% {
        opacity: 100%;
        height: 10px;
        border-radius: 50%;
    }
    40% {
        border-radius: 20%;
    }
    100% {
        height: 300px;
        border-radius: 5px;
    }
}

@keyframes width {
    0% {
        opacity: 0;
        width: 10px;
        border-radius: 50%;
    } 
    25% {
        opacity: 100%;
        width: 10px;
        border-radius: 50%;
    }
    40% {
        border-radius: 20%;
    }
    100% {
        width: 300px;
        border-radius: 5px;
    }
}
@keyframes box3 {
    0% {
        width: 0;
        height: 0;
        /* opacity: 0; */
        border: 0 solid white;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    25% {
        width: 100px;
        height: 100px;
        /* opacity: 100%; */
        border: 10px solid white;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    50% {
        transform-origin: 50% 50%;
        /* opacity: 100%; */
        border: 10px solid white;
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        width: 100px;
        height: 100px;
        /* opacity: 100%; */
        border: 10px solid white;
        transform: translate(-50%, -50%) rotate(540deg);
    }

}


body {
    background-color: #06042b;
}

.father {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    /* background-color: pink; */
    margin: 150px auto;
    overflow: hidden;
    position: relative;
}
.box1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    animation:height 3s 1 forwards;
    transform: translate(-50%, -50%);
    background-color: white;
}
.box11 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    animation:height 1s 1 5s forwards;
    transform: translate(-50%, -50%);
    background-color: #06042b;
}
.box2 {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    height: 10px;
    animation: width 3s 1 forwards;
    background-color: white;
}
.box22 {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);

    height: 15px;
    animation:width 1s 1 5s forwards;
    background-color: #06042b;
}
.box3 {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    animation: box3 3s ease 4s 1 forwards;
    background-color: #06042b;
}